.tariff {
    margin-bottom: 15px;
}

.redBackground{
    background-color: #d4583c;
}
.orangeBackground{
    background-color: #d4812d;
}
.neutralBackground{
    background-color: #c6d4d4;
}
.paleGreenBackground{
    background-color: #add48e;
}
.greenBackground{
    background-color: #3ead05;
}
.priceFeedback, .responseOverview {
    padding-left: 10px;
    text-align: center;
}
.interestGroup, .partnerResponse {
    margin-bottom: 30px;
}
#mood {
    margin-bottom: 20px;
}
.tableImg {
    float: left;
    margin: 8px 5px 0 0;
}
.letter{
    background:white;
    padding: 10px;
    border: 1px solid gray;
}
.letter img{
    float: left;
    margin: 10px 10px 0 0;
}
img {
    -moz-border-radius: 4px;
    border-radius: 4px;
}
